<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigTest_IntValue" value="1"/>
    <add key="ConfigTest_IntWithDefaultTwo" value="1"/>
    <add key="ConfigTest_FailingIntValue" value="number"/>
    <add key="ConfigTest_TrueValue" value="True"/>
    <add key="ConfigTest_FalseValue" value="false"/>
    <add key="ConfigTest_StringValue" value="some string"/>
    <add key="ConfigTest_DecimalValue" value="1.5"/>
  </appSettings>
</configuration>